/*Estilizando cabeçalho*/
header {
    text-align: center;
    
}

/*Estilizando a DIV da classe navegação*/
.navegacao{
    background-color: #0a1231;
}

/*Estilizando os botões*/
button {
    border-top: none;
    border-bottom: none;
    border-left: none;
    background-color: #1fd3e9;
    padding: 1;
}

/*Estilizando o conteúdo*/
main {
    font-family: Arial, Helvetica, sans-serif;
    columns: 3;
    text-align: center;
}   

/*Estilizando o link do título*/
a {
    color: #1a2c72;
}

/*Estilizando o título*/
h1 {
    margin-top: 0;
    margin-bottom: 10;
    text-align: justify;
}

/*Estilizando o parágrafo*/
p {
    text-align: justify;
}

/*Estilizando a linha divisória*/
hr {
    background-color:#0a1231;
    height: 15px;
    border: 0;
}

/*Estilizando o rodapé*/
footer {
    text-align: center;
    margin-top: 25px;
}
.barranav{
    background-color: #3d63fb;
}
.backcolor{
    background-color:#1458b7;
}
.corletras{
    color: #e2e9f1;
}
button{
    padding: 10px;
    margin: 5px;
}